body {
	background: #0f0f25;
}

#logoutRow{
	float: right;
}

#signInButton{
	background: #be3229;
	color: white;
	text-align: center;
	font-size: 36px;
	border-radius: 5px;
	border-width: 3px;
	border-style: solid;
	border-color: #676268;
	margin-top: 15%;
}

#signInButton:hover {
	background: #3574ad;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
}

#logoutButton {
	margin-right: 15px;
}

#avengersLogo {
	height: 200px;
}

#loginTitle {
	text-align: center;
	font-size: 76px;
	font-family: 'Bangers', cursive;
	background: white;
	margin-top: 10%;
	padding-bottom: 25px;
	border-color: red;
	border-width: 5px 0px 5px 0px;
	border-style: solid;
}

#mainTitle {
	text-align: center;
	font-size: 66px;
	font-family: 'Bangers', cursive;
	background: white;
	padding-bottom: 25px;
	border-color: red;
	border-width: 5px 0px 5px 0px;
	border-style: solid;
}

.logo {
	height: 100px;
}

.message {
	text-align: center;
	font-size: 28px;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
}


.onlinePlayer {
	margin-left: 10%;
    margin-right: 25%;
    cursor: pointer;
}

.groupMember {
	margin-left: 10%;
    margin-right: 25%;
}

#multiplayerLobby {
	display: none;
}

#readyButton {
	font-size: 25px;
	text-align: center;
	background: #3eaf3e;
	color: white;
	height: 50px;
	width: 150px;
	border-radius: 5px;
	padding-top: 6px;
}

#multiButton {
	font-size: 25px;
	text-align: center;
	background: #3eaf3e;
	color: white;
	height: 50px;
	width: 150px;
	border-radius: 5px;
	padding-top: 6px;
}

#firstChoose {
	margin-bottom: 10%;
}

#categorySelection {
	display: none;
	color: white;
}

.categoryLogo {
	height: 100px;
}

#gameModeButton {
	background: #ff1414;
	color: white;
	text-align: center;
	font-size: 26px;
	width: 100px;
	margin-top: 10px;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 5px;
}

.gameModeButton:hover {
	background: #a03333;
}

.moviePoster {
	height: 400px;
	border-style: solid;
	border-color: grey;
	border-width: 5px;
	border-radius: 5px;
	-webkit-transition: transform .2s ease-in, border-color .2s ease-in;
}

.moviePoster:hover {
	transform: scale(1.2);
	border-style: solid;
	border-color: #be3229;
	border-width: 5px;
}

.posterPoster {
	height: 400px;
	border-style: solid;
	border-color: grey;
	border-width: 5px;
	border-radius: 5px;
	-webkit-transition: transform .2s ease-in, border-color .2s ease-in;
}

.posterPoster:hover {
	transform: scale(1.2);
	border-style: solid;
	border-color: #be3229;
	border-width: 5px;
}

.winner {
	height: 500px;
}

.row {
	margin-top: 20px;
}

#firstRound {
	margin-bottom: 25px;
	display: none;
}

#secondRound {
	display: none;
	color: white;
	margin-bottom: 50px;
}

#roundHeading {
	color: white;
	text-align: center;
	font-size: 36px;
}

.finalPair {
	background: #be3229;
	border-radius: 5px;
	border-style: solid;
	border-color: #676268;
	border-width: 3px;
	padding: 5px;
	text-align: center;
	padding-bottom: 10px;
}

#top4Left {
	
}

#thirdRound {
	display: none;
}

#finalRound {
	display: none;
}

#multiplayerMatchups {
	display: none;
}

/*#leftSlot {
	background: green;
    width: 273px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 100px;
}

#rightSlot {
	background: green;
    width: 273px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 100px;
}*/

.circleCheck {
	height: 50px;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: 20%;
	background: green;
}

#finalBattle {
	height: 200px;
	padding-top: 5px;
	padding-bottom: 5px;

}

#finalVs {
	margin-right: 17px;
}

#championDisplay {
	display: none;
	margin-left: 6%;
}

.vs {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-right: 20px;
	margin-top: 60px;

}

.top4Vs {
	font-size: 20px;
	font-weight: bold;
}

#rankingDisplay {
	color: white;
}

#replayButton {
	background: #1d6bb6;
	color: white;
	border-color: #be3229;
	border-width: 3px;
	border-style: solid;
	border-radius: 5px;
	width: 100px;
	padding-left: 25px;
	margin-left: 48%;
}

.multiDisplay {
	display: none;
	background: white;
	padding-bottom: 20px;
	border-radius: 5px;
	border-style: solid;
	border-width: 5px;
	border-color: #2dadb1;;
}

.onlineTitle {
	text-align: center;
	font-size: 28px;
	font-family: 'Open Sans', sans-serif;
	border-width: 0px 0px 2px 0px;
	border-color: black;
	border-style: solid;
}

#footer {
	color: white;
	background: black;
	height: 100px;
	margin-top: 50px;
	padding-top: 35px;
	text-align: center;
	font-size: 20px;
	font-family: 'Josefin Sans', sans-serif;
}

@media only screen and (max-width: 500px) {
	#signInButton {
		font-size: 34px;
	}

	#avengersLogo {
		height: 80px;
	}

	#mainTitle {
		font-size: 26px;
	}

	.moviePoster {
		height: 220px;

	}

	.posterPoster {
		height: 220px;
	}

	.winner {
		height: 420px;
	}

	#replayButton {
		margin-left: 30%;
	}

	.categoryLogo {
		height: 80px;
	}