body {
	
	height: 100%;
}

html {
	height: 100%;
	background: #ababab;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
}

#backButton {
	height: 40px;
	width: 80px;
	background: white;
	text-align: center;
	padding-top: 8px;
	border-color: black;
	border-width: 3px;
	border-style: solid;
	border-radius: 5px;
}

#backButton:hover {
	border-color: red;
}

#beginnerText {
	height: 150px;
}

#beginnerTextBox {
	padding-top: 5%;
	text-align: center;
    font-size: 35px;
    color: white;
    background: blue;
    border-width: 5px;
    border-color: red;
    border-style: solid;
    margin-top: 10%;
}

#bracketText {
	height: 150px;
}

#bracketTextBox {
	padding-top: 5%;
	text-align: center;
    font-size: 35px;
    color: white;
    background: blue;
    border-width: 5px;
    border-color: red;
    border-style: solid;
    margin-top: 10%;
}

button {
	background: none;
	border: none;
}

.byePoster {
	height: 400px;
	border-style: solid;
	border-color: grey;
	border-width: 5px;
	border-radius: 5px;
	text-align: center;
	background: white;
    font-size: 72px;
    padding-top: 35%;
}

.category {
	background-size: 100% 100%;
	padding: 35px;
}

.categoryLogo {
	height: 90px;
	width: 165px;
	margin: 5px;
	border-width: 5px;
	border-radius: 5px;
	border-color: black;
	border-style: solid;
	font-family: 'Josefin Sans', sans-serif;
}

.categoryLogo:hover {
	box-shadow: 0px 0px 20px 6px white;
}

#categoryRow {
	position: fixed;
    left: 50%;
    margin-left: -260px;
}

#categorySelection {
	color: white;
}

#championDisplay {
	display: none;
	height: 70vh;
	background: url(../images/resultsBackground.jpg) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

.circleCheck {
	height: 50px;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: 20%;
	border-radius: 100px;
	margin-top: 0px;
}

#currentUser {
	color: green;
	margin-top: 0px;
	font-size: 18px
}

#customBackButton {
	margin-left: 0px;
	margin-top: 10px;
	width: 75px;
	font-size: 20px;
}

#customButtonRow {
	margin-bottom: 20px;
}

#customDisplay {
	background: white;
	padding-left: 10px;
	margin-top: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	box-shadow: 0px 5px 5px black;
}

#customGameIcon {
	background: #0f710f;
	text-align: center;
	font-size: 24px;
	padding-top: 18px;
}

.customListData {
	width: 100px;
	padding: 5px;
	border-width: 3px;
	border-color: black;
	border-style: solid;
	margin-right: 10px;
	background: green;
	font-size: 20px;
}

.customListRow {
	margin-top: 5px;
}

.customMoviePoster {
	margin: 5px;
	-webkit-transition: transform .2s ease-in, border-color .2s ease-in;
}

.customMoviePoster:hover {
	margin: 0px;
	transform: scale(1.2);
	border-style: solid;
	border-color: #f3ec2f;
	border-width: 5px;
}

.customName {
	margin-left: 5px;
}

#customResultsRow {
	background: #ababab;
	height: 700px;
	padding-top: 20px;
	position: relative;
	z-index: 0;
}

#customRightSide {
	background: #ababab;
	height: 700px;
}

#customSearchRow {
	background: blue;
	height: 100%;
	box-shadow: 0px 5px 5px black;
	position: relative;
	z-index: 1;
	padding-bottom: 20px;
}

#customSelection {
	display: none;
}

.deleteList {
	font-weight: bold;
	text-align: center;
}

.deleteList:hover {
	border-radius: 25px;
	background: darkgrey;
}

#errorMessage {
	font-size: 16px;
	color: white;
	margin-top: 20px;
}

#finished {
	font-size: 22px;
	margin-top: 20px;
	margin-left: 0px;
}

#firstBracketText {
	position: absolute;
	background: #000000b3;
	height: 70vh;
	width: 101.6vw;
	z-index: 3;
}

#firstChoose {
	background: #00000075;
	margin-bottom: 25px;
	padding-top: 10px;
}

#firstIcon {
    color: gold;
    font-weight: bold;
}

#firstRound {
	height: 70vh;
	margin-bottom: 0px;
	display: none;
	background-image: url("../images/versus-background.gif");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

#firstTimeText {
	position: absolute;
	background: #000000b3;
	height: 70vh;
	width: 101.6vw;
	z-index: 3;
}

footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	color: white;
	background: black;
	height: 10vh;
	padding-top: 35px;
	text-align: center;
	font-size: 20px;
	font-family: 'Josefin Sans', sans-serif;
	z-index: 0;
}

.glyphicon {
	margin-left: 25%;
}

#goToCustomPage {
	height: 40px;
	width: 80px;
	border-color: black;
	border-width: 3px;
	border-style: solid;
	border-radius: 5px;
	background: red;
	text-align: center;
	padding-top: 8px;
}

#goToCustomPage:hover {
	border-color: white;
}

.groupMember {
	margin-left: 10%;
    margin-right: 25%;
}

#groupMembersRow {
	margin-top: -10px;
}

#leftSlot {
	width: 281px;
    border-style: solid;
    border-width: 5px;
    border-color: #0e0e26;
    margin-bottom: 50px;
}

#loginTitle {
	text-align: center;
	font-size: 76px;
	font-family: 'Bangers', cursive;
	margin-top: 10%;
	padding-bottom: 25px;
}

#logoutRow{
	margin-top: 3px;
}

#mainScreen {
	background: #007eff;
	height: 100%;
}

#mainTitle {
	padding-bottom: 10px;
	text-align: center;
	font-size: 66px;
	font-family: 'Bangers', cursive;
	background: #007eff;
}

.message {
	text-align: center;
	font-size: 30px;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	text-shadow: #000 0px 0px 10px;
    -webkit-font-smoothing: antialiased;
}

#movieBattle {
	border-color: red;
	border-width: 5px 0px 5px 0px;
	border-style: solid;
	border-radius: 5px;
	background: white;
}

#movieBattleLogo {
	height: 120px;
}

#movieBattleLogoLogin {
	height: 300px;
}

#movieField {
	margin-top: 20px;
}

#moviePoster {
	margin-bottom: 150px;
}

.moviePoster {
	position: relative;
	z-index: 2;
	height: 400px;
	border-style: solid;
	border-color: grey;
	border-width: 5px;
	border-radius: 5px;
	-webkit-transition: transform .2s ease-in, border-color .2s ease-in;
}

.moviePoster:hover {
	transform: scale(1.2);
	border-style: solid;
	border-color: #f3ec2f;
	border-width: 5px;
}

#multiButton {
	width: 150px;
  	text-align: center;
}

.multiDisplay {
	background: white;
	padding-bottom: 20px;
	margin-right: 10px;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	box-shadow: 0px 5px 5px black;
	height: 200px;
}

#multiplayerLobby {
	height: 70vh;
	padding-top: 50px;
	background-image: url("../images/blueComic.jpg");
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	z-index: 0;
}

#multiplayerMatchups {
	display: none;
	background-image: url("../images/green-orange-bg.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	height: 70vh;
}

#multiplayerMenu {
}

.okTextButton {
	margin-top: 25px;
	margin-left: 43%;
	margin-bottom: 20px;
	background: #ff1414;
	color: white;
	text-align: center;
	font-size: 26px;
	width: 100px;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 5px;
	box-shadow: 0px 3px 3px black;
}

.okTextButton:hover {
	border-color: white;
}

.onlinePlayer {
	margin-left: 10%;
    cursor: pointer;
}

.onlineTitle {
	text-align: center;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	border-width: 0px 0px 2px 0px;
	border-color: black;
	border-style: solid;
}

#overallWinner {
	margin-top: 20px;
}

.posterPoster {
	height: 400px;
	border-style: solid;
	border-color: grey;
	border-width: 5px;
	border-radius: 5px;
	-webkit-transition: transform .2s ease-in, border-color .2s ease-in;
}

.posterPoster:hover {
	transform: scale(1.2);
	border-style: solid;
	border-color: #f3ec2f;
	border-width: 5px;
}

#profileIcon {
	background: orange;
	border-radius: 25px;
	width: 45px;
	height: 45px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	margin-left: 25%;
	margin-bottom: 5px;
	cursor: pointer;
}

#profileIcon:hover{
	border-color: white;
	border-width: 1px;
	border-style: solid;
	color: white;
}

#profileMenu {
	display: none;
	background: white;
	text-align: center;
	box-shadow: 0px 3px 3px black;
	position: absolute;
	z-index: 2;
}

.profileMenuOption {
	margin: 5px;
	color: black;
	background: lightgrey;
}

.profileMenuOption:hover {
	color: white;
}

#rankingDisplay {
	color: black;
	margin-top: 20px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	padding: 15px;

}

#readyButton {
	margin-left: 40%;
	margin-top: 5px;
}

.redButton {
	background: #ff1414;
	color: white;
	text-align: center;
	font-size: 26px;
	width: 100px;
	margin-top: 40px;
	margin-left: 48%;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 5px;
	box-shadow: 0px 3px 3px black;
}

.redButton:hover {
	border-color: white;
}

#replayButton {
	background: #1d6bb6;
	color: white;
	border-color: black;
	border-width: 3px;
	border-style: solid;
	border-radius: 5px;
	width: 80px;
	margin-left: 48%;
	margin-top: 10px;
	text-align: center;
}

#replayButton:hover {
	border-color: white;
}

#rightSlot {
	width: 281px;
    border-style: solid;
    border-width: 5px;
    border-color: #0e0e26;
    margin-bottom: 50px;
}

#roundHeading {
	padding-top: 5px;
	color: white;
	text-align: center;
	font-size: 45px;
    background: #00000075;
    font-family: 'Luckiest Guy', cursive;
}

#secondIcon {
    color: silver;
    font-weight: bold;
}

#signInButton {
	margin-left: 8%;
}

#submit {
	margin-left: 0px;
	margin-top: 17px;
	font-size: 20px;
}

#thirdIcon {
    color: #e69148;
    font-weight: bold;
}

#top2017Icon {
	color: black;
	background: orange;
	text-align: center;
	font-size: 24px;
	padding-top: 4px;
}

.top3 {
	text-shadow: #000 0px 0px 10px;
    -webkit-font-smoothing: antialiased;
    font-size: 40px;
    text-align: center;
}

.top3Name {
	font-size: 24px;
	text-align: center;
}

#topRow {
	height: 20vh;
	background: #007eff;
	padding-top: 5px;
	box-shadow: 0px 5px 5px black;
	position: relative;
	z-index: 1;
}

.versusRow {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -110px;
}

.versusSymbol {
	height: 400px;
}

#winner {
	height: 430px;
	border-radius: 5px;
    margin-left: 5%;
}

#yourGroupMembers {
	margin-left: 15%;
}

@media only screen and (max-width: 500px) {
	#avengersLogo {
		height: 80px;
	}

	.byePoster {
		height: 220px;
	}

	.categoryLogo {
		height: 70px;
		width: 120px;
	}

	#championDisplay {
		height: 80vh;
	}

	.customMoviePoster {
		height: 115px;
	}

	#firstChoose {
		margin-bottom: 0px;
	}

	#firstRound {
		height: 80vh;
		background-image: url("../images/blue-red-digonal-bg.jpg");
		background-size: 100% 100%;
	}

	#gameModeButton {
		margin-left: 0%;
	}

	#mainTitle {
		font-size: 26px;
	}

	.message {
		text-align: center;
		font-size: 20px;
		font-weight: bolder;
	}

	#mobilCol {
		padding-left: 7px;
	}

	#movie2 {
		margin-left: 55%;
    	margin-top: 30%;
	}

	#movieBattleLogo {
		height: 42px;
	}

	#movieBattleLogoLogin {
		height: 110px;
	}

	.moviePoster {
		height: 220px;
	}

	.multiDisplay {
		padding-bottom: 10px;
		height: 180px;
	}

	#multiplayerLobby {
		height: 80vh;
		padding-left: 25px;
		padding-top: 0px;
		font
	}

	#multiplayerMatchups {
		height: 80vh;
	}

	.onlineTitle {
		font-size: 22px;
	}

	#overallWinner {
		text-align: center;
	}

	.posterPoster {
		height: 250px;
	}

	#profileIcon {
		height: 40px;
		width: 40px;
		padding-top: 8px;
	}

	#rankingDisplay {
		font-size: 9px;
		margin-top: 0px;
		padding: 5px;
	}

	.redButton {
		margin-left: 39%;
		margin-top: 10px;
	}

	#replayButton {
		margin-left: 33%;
	    height: 40px;
	    font-size: 20px;
	    width: 100px;
	    text-align: center;
	}

	#rightSlot {
		width: auto;
	}

	#roundHeading {
		margin-bottom: 20%;
	}

	#signInButton {
		font-size: 30px;
		height: 75px;
		width: 140px;
		padding-top: 11px;
	}

	#top2017Icon {
		font-size: 20px;
	}

	.top3 {
		font-size: 25px;
	}

	.top3Name {
		font-size: 14px;
	}

	#topRow {
		height: 10vh;
	}

	.versusRow {
	   margin-top: -120px;
	   margin-left: -85px;
	}

	.versusSymbol {
		height: 300px;
	}

	#winner {
		height: 150px;
	}

@media only screen and (max-width: 320px) {
	.moviePoster {
		height: 170px;
	}
}