body {
	
	height: 100%;
}

html {
	height: 100%;
	background: #ababab;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
}

button:focus {
	outline: none;
}

#averageHeader {
	text-align: center;
	font-size: 20px;
}

.averageRow {
	margin-top: 10px;
}

.averageTab {
    font-size: 24px;
    border-width: 0px 3px 3px 0px;
    border-color: black;
    border-style: solid;
    text-align: center;
}

#backButton {
	height: 40px;
	width: 80px;
	background: white;
	text-align: center;
	padding-top: 8px;
	border-color: black;
	border-width: 3px;
	border-style: solid;
	border-radius: 5px;
}

#backButton:hover {
	border-color: red;
}

#beginnerText {
	height: 18;bv'.'hbv 	q0px;
}

#beginnerTextBox {
	height: 50%;
	padding-top: 5%;
	text-align: center;
    font-size: 30px;
    color: white;
    background: #374461;
    border-width: 5px;
    border-color: #007eff;
    border-style: solid;
    border-radius: 5px;
    margin-top: 10%;
}

#bracketTextBox {
	height: 50%;
	padding-top: 5%;
	text-align: center;
    font-size: 30px;
    color: white;
    background: blue;
    border-width: 5px;
    border-color: red;
    border-style: solid;
    margin-top: 10%;
}

button {
	background: none;
	border: none;
}

.byePoster {
	height: 400px;
	border-style: solid;
	border-color: grey;
	border-width: 5px;
	border-radius: 5px;
	text-align: center;
	background: white;
    font-size: 72px;
    padding-top: 35%;
}

.category {
	background-size: 50% 50%;
	padding: 5px;
	border-radius: 5px;
}

.categoryTest {
	font-family: 'Josefin Sans', sans-serif;
	margin-left: 10%;
	padding-left: 5%;
	font-size: 24px;
	color: white;
	background: #374461;
	border-width: 3px;
	border-color: red;
	border-style: solid;
	margin-top: 5px;
	box-shadow: inset 0 0 0 0.01px white;
	-webkit-transition: transform .2s ease-in, border-color .2s ease-in, box-shadow .5s ease-in;
}

.categoryTest:hover {
	transform: translate(10px, 0px);
	border-color: gold;
	box-shadow: 300px 0px 0px inset red;
}

.categoryLogo {
	height: 90px;
	width: 165px;
	margin: 5px;
	border-width: 5px;
	border-radius: 5px;
	border-color: #002898;
	border-style: solid;
	font-family: 'Josefin Sans', sans-serif;
}

.categoryLogo:hover {
	box-shadow: 0px 0px 20px 6px white;
}

#categorySelection {
	color: white;
}

#championDisplay {
	display: none;
	height: 74vh;
	background: url(../images/siteAssets/resultsBackground.jpg) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

.circleCheck {
	height: 50px;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: 20%;
	border-radius: 100px;
	margin-top: 0px;
}

#closeProfile {
	font-size: 20px;
    margin-top: 15px;
}

#currentUser {
	color: green;
	margin-top: 0px;
	font-size: 18px
}

#customBackButton {
	margin-left: 0px;
	margin-top: 10px;
	width: 75px;
	font-size: 20px;
}

#customButtonRow {
	margin-bottom: 20px;
}

#customDisplay {
	background: #ffffffc2;
	border-radius: 5px;
	padding-left: 10px;
	margin-top: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 22px;
	box-shadow: 0px 5px 5px black;
}

#customGameIcon {
	background: #0f710f;
	text-align: center;
	font-size: 24px;
	padding-top: 18px;
}

.customListData {
	font-family: 'Josefin Sans', sans-serif;
	margin-left: 10%;
	padding-left: 5%;
	font-size: 24px;
	color: white;
	background: #374461;
	border-width: 3px;
	border-color: red;
	border-style: solid;
	border-radius: 5px;
	text-align: left;
	width: 80%;
	margin-top: 5px;
	-webkit-transition: transform .2s ease-in, border-color .2s ease-in;
}

.customListData:hover {
	transform: translate(10px, 0px);
	border-color: gold;
}

.customListRow {
	margin-top: 5px;
}

.customMoviePoster {
	margin: 4px;
	-webkit-transition: transform .2s ease-in, border-color .2s ease-in;
}

.customMoviePoster:hover {
	margin: 0px;
	transform: scale(1.2);
	border-style: solid;
	border-color: #f3ec2f;
	border-width: 4px;
	position: relative;
	z-index: 2;
}

.customName {
	margin-left: 5px;
}

#customResultsRow {
	background-image: url("../images/siteAssets/blue-dots.gif");
	background-position: center;
	padding-top: 20px;
	position: relative;
	z-index: 0;
}

#customRightSide {
	height: 71vh;
}

#customSearchRow {
	background: blue;
	height: 100%;
	border-color: grey;
	border-width: 0px 0px 3px
	border-style: solid;
	padding-bottom: 20px;
}

#customSelection {
  	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0px;
	width: 100%;
}

.deleteList {
	font-weight: bold;
	text-align: center;
	float: right;
}

.deleteList:hover {
	border-radius: 25px;
	background: darkgrey;
}

#errorMessage {
	font-size: 18px;
	font-weight: bold;
	background: #ffffffa6;
	border-radius: 5px;
	color: red;
	margin-top: 20px;
}

#finished {
	font-size: 22px;
	margin-top: 20px;
	margin-left: 0px;
}

#firstBracketText {
	position: absolute;
	background: #000000b3;
	height: 70vh;
	width: 100vw;
	z-index: 3;
}

#firstChoose {
	background: #00000075;
	margin-bottom: 25px;
	padding-top: 10px;
}

#firstIcon {
    color: gold;
    font-weight: bold;
}

#firstRound {
	height: 74vh;
	margin-bottom: 0px;
	display: none;
	background-image: url("../images/siteAssets/versus-background.gif");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

#firstTimeText {
	position: absolute;
	background: #000000b3;
	height: 70vh;
	width: 100vw;
	z-index: 3;
}

footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	color: white;
	background: #374461;
	height: 10vh;
	padding-top: 35px;
	text-align: center;
	font-size: 20px;
	font-family: 'Josefin Sans', sans-serif;
	z-index: 0;
	border-color: #007eff;
	border-width: 3px 0px 0px 0px;
	border-style: solid;
}

.glyphicon {
	margin-left: 25%;
}

#goToCustomPage {
	
}

#goToCustomPage:hover {
	border-color: white;
}

.groupMember {
	margin-left: 10%;
    margin-right: 25%;
}

#groupMembersRow {
	margin-top: -10px;
}

#hamburgerIcon {
	font-size: 36px;
	top: 0px;
	margin-left: 60%;
	display: none;
}

#hamburgerMenu {
	display: none;
    position: absolute;
    z-index: 2;
    background: white;
}

#loginTitle {
	text-align: center;
	font-size: 76px;
	font-family: 'Bangers', cursive;
	margin-top: 10%;
	padding-bottom: 25px;
}

#logoutRow{
	margin-top: 3px;
}

#mainScreen {
	background: #007eff;
	height: 100%;
}

#mainTitle {
	padding-bottom: 10px;
	text-align: center;
	font-size: 66px;
	font-family: 'Bangers', cursive;
	background: #007eff;
}

.message {
	text-align: center;
	font-size: 30px;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	text-shadow: #000 0px 0px 10px;
    -webkit-font-smoothing: antialiased;
}

.mobileOption {
	display: none;
}

#movieBattle {
	border-color: red;
	border-width: 5px 0px 5px 0px;
	border-style: solid;
	border-radius: 5px;
	background: white;
}

#movieBattleLogo {
	height: 100px;
}

#movieBattleLogoLogin {
	height: 300px;
}

#movieField {
	margin-top: 20px;
}

#moviePoster {
	margin-bottom: 150px;
	padding-left: 6%;
}

.moviePoster {
	position: relative;
	z-index: 2;
	height: 400px;
	border-style: solid;
	border-color: grey;
	border-width: 5px;
	border-radius: 5px;
	-webkit-transition: transform .2s ease-in, border-color .2s ease-in;
}

.moviePoster:hover {
	transform: scale(1.2);
	border-style: solid;
	border-color: #f3ec2f;
	border-width: 5px;
}

#multiButton {
	width: 150px;
  	text-align: center;
}

.multiDisplay {
	background: #ffffffa6;
	padding-bottom: 20px;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	height: 60vh;
}

#multiplayerLobby {
	height: 74vh;
	padding-top: 30px;
	background-color: black;
	/*background-image: url("../images/siteAssets/blue-dots.gif");*/
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	z-index: 0;
}

#multiplayerMatchups {
	display: none;
	background-image: url("../images/siteAssets/green-orange-bg.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	height: 74vh;
}

#multiplayerMenu {
	display: none;
    position: absolute;
    z-index: 2;
    top: 0px;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

.okTextButton {
	margin-top: 25px;
	margin-bottom: 20px;
	background: #ff1414;
	color: white;
	font-size: 26px;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 5px;
	box-shadow: 0px 3px 3px black;
	-webkit-transition: border-color .15s ease-in;
}

.okTextButton:hover {
	border-color: white;
}

.onlinePlayer {
	margin-left: 10%;
    cursor: pointer;
}

.onlineTitle {
	text-align: center;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	border-width: 0px 0px 2px 0px;
	border-color: black;
	border-style: solid;
}

#overallWinner {
	margin-top: 20px;
}

.posterPoster {
	position: relative;
	z-index: 2;
	height: 400px;
	border-style: solid;
	border-color: grey;
	border-width: 5px;
	border-radius: 5px;
	-webkit-transition: transform .2s ease-in, border-color .2s ease-in;
}

.posterPoster:hover {
	transform: scale(1.2);
	border-style: solid;
	border-color: #f3ec2f;
	border-width: 5px;
}

#profileDisplay {
	display: none;
	background: white;
	height: 60vh;
	border-width: 3px 3px 3px 3px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    position: absolute;
    z-index: 3;
    font-family: 'Josefin Sans', sans-serif;
}

#profileIcon {
	background: red;
	border-radius: 25px;
	width: 45px;
	height: 45px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	margin-left: 25%;
	margin-bottom: 5px;
	cursor: pointer;
}

#profileIcon:hover{
	border-color: white;
	border-width: 1px;
	border-style: solid;
	color: white;
}

#profileMenu {
	display: none;
	background: white;
	text-align: center;
	box-shadow: 0px 3px 3px black;
	position: absolute;
	z-index: 2;
}

.profileMenuOption {
	margin: 5px;
	color: black;
	background: lightgrey;
	border-radius: 5px;
	background-color: #007eff;
}

.profileMenuOption:hover {
	color: white;
}

#rankingDisplay {
	color: black;
	margin-top: 20px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	padding: 15px;

}

#readyButton {
	margin-left: 44%;
	margin-top: 5px;
    cursor: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px #333;
}

.pulsate {
    -webkit-animation: pusate 1s infinite alternate;
    -moz-animation: pusate 1s infinite alternate;
    -animation: pusate 1s infinite alternate;
}

@-webkit-keyframes pusate {
    from { box-shadow: 0 0 10px #333; }
    to { box-shadow: 0 0 50px #c00; }
}
@-moz-keyframes pusate {
    from { box-shadow: 0 0 10px #333; }
    to { box-shadow: 0 0 50px #c00; }
}
@keyframes pusate {
    from { box-shadow: 0 0 10px #333; }
    to { box-shadow: 0 0 50px #c00; }
}

.redButton {
	background: #ff1414;
	color: white;
	text-align: center;
	font-size: 26px;
	width: 100px;
	margin-top: 40px;
	margin-left: 42%;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 5px;
	box-shadow: 0px 3px 3px black;
	-webkit-transition: border-color .15s ease-in;
}

.redButton:hover {
	border-color: white;
}

#replayButton {
	background: #1d6bb6;
	color: white;
	border-color: black;
	border-width: 3px;
	border-style: solid;
	border-radius: 5px;
	width: 80px;
	margin-left: 48%;
	margin-top: 10px;
	text-align: center;
}

#replayButton:hover {
	border-color: white;
}

#roundHeading {
	padding-top: 5px;
	color: white;
	text-align: center;
	font-size: 45px;
    background: #00000075;
    font-family: 'Luckiest Guy', cursive;
}

#secondIcon {
    color: silver;
    font-weight: bold;
}

#signInButton {
	margin-left: 0%;
}

#submit {
	margin-left: 0px;
	margin-top: 17px;
	font-size: 20px;
}

#thirdIcon {
    color: #e69148;
    font-weight: bold;
}

#toolBarRow {
	position: fixed;
	bottom: 10vh;
	width: 100%;
}

.toolBarTab {
	background: #ff1414;
	mily: 'Josefin Sans', sans-serif;
	height: 50px;font-fa
	font-size: 24px;
	color: white;
	font-weight: bold;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	text-align: center;
	padding-top: 10px;
	border-radius: 5px 5px 0px 0px;
	-webkit-transition: border-color .15s ease-in
}

.toolBarTab:hover {
	border-color: white;
}

#top2017Icon {
	color: black;
	background: orange;
	text-align: center;
	font-size: 24px;
	padding-top: 4px;
}

.top3 {
	text-shadow: #000 0px 0px 10px;
    -webkit-font-smoothing: antialiased;
    font-size: 40px;
    text-align: center;
}

.top3Display {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
}

.top3Name {
	font-size: 24px;
	text-align: center;
}

#topRow {
	height: 16vh;
	background: #007eff;
	padding-top: 5px;
	box-shadow: 0px 5px 5px black;
	position: relative;
	z-index: 1;
}

.versusRow {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -110px;
}

.versusSymbol {
	height: 400px;
}

#winner {
	height: 430px;
	border-radius: 5px;
    margin-left: 5%;
}

#yourGroupMembers {
	margin-left: 15%;
}

@media only screen and (max-width: 500px) {
	#avengersLogo {
		height: 80px;
	}

	#beginnerTextBox {
		font-size: 30px;
	}

	#bracketTextBox {
		font-size: 30px;
	}

	.byePoster {
		height: 220px;
	}

	.category {
		padding: 15px;
	}

	.categoryLogo {
		height: 70px;
		width: 120px;
	}

	.categoryLogo:hover {
		box-shadow: none;
	}

	#categoryRow {
		margin-left: -175px;
		margin-top: 10px;
	}

	.categoryTest {
		margin-left: 0%;
	}

	#championDisplay {
		height: auto;
	}

	.customMoviePoster {
		height: 115px;
	}

	.cumstomMoviePoster:hover {
		transform: scale(1);
	}

	#customSelection {
		position: unset;
	}

	.customListData {
		padding: 15px;
		padding-right: 5px;
	    width: 100%;
    	margin-left: 0px;
	}

	#firstBracketText {
		height: 80vh;
	}

	#firstChoose {
		margin-bottom: 0px;
	}

	#firstRound {
		height: auto;
		background-image: url("../images/siteAssets/red-blue2-bg.jpg");
		background-size: 100% 100%;
		padding-bottom: 8%;
	}

	#firstTimeText {
		height: auto;
		padding-bottom: 37%;
	}

	footer {
		position: unset;
	}

	#gameModeButton {
		margin-left: 0%;
	}

	#hamburgerIcon {
		display: block;
	}

	#leftSlot {
		margin-left: -2%;
		margin-top: 2px;
	}

	#mainTitle {
		font-size: 26px;
	}

	.message {
		text-align: center;
		font-size: 26px;
		font-weight: bolder;
	}

	#mobilCol {
		padding-left: 7px;
	}

	.mobileOption {
		display: block;
	}

	#movie1 {
	    margin-left: -7%;
    	margin-top: 2px;
	}

	#movie2 {
		margin-left: 56%;
    	margin-top: 4%;
	}

	#movieBattleLogo {
		height: 42px;
	}

	#movieBattleLogoLogin {
		height: 125px;
		margin-top: 20%;
	}

	.moviePoster {
		height: 220px;
	}

	.moviePoster:hover {
		transform: scale(1);
	}

	.multiDisplay {
		padding-bottom: 10px;
		height: 180px;
	}

	#multiplayerLobby {
		height: auto;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 0px;
	}

	#multiplayerMatchups {
		height: auto;
		padding-bottom: 8%;
	}

	#multiplayerMenu {
		margin-top: -400px;
	}

	.onlinePlayer {
		margin-left: 0px;
		font-size: 20px;
	}

	.onlineTitle {
		font-size: 18px;
	}

	#overallWinner {
		text-align: center;
	}

	.posterPoster {
		height: 220px;
	}

	.posterPoster:hover {
		transform: scale(1);
	}

	#profileDisplay {
		height: 80vh;
		overflow-y: auto;
		margin-top: 15px;
	}

	#profileIcon {
		height: 40px;
		width: 40px;
		padding-top: 8px;
	}

	#profileMenu {
	    width: 220%;
   		margin-left: -60px;
	}

	.profileMenuOption {
	    font-size: 20px;
	    padding: 5px;
	}

	#rankingDisplay {
		font-size: 16px;
		margin-top: 0px;
		padding: 5px;
	}

	#readyButton {
		margin-left: 33%;
		margin-top: 25px;
	}

	.redButton {
		margin-left: 33%;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	#replayButton {
		margin-left: 33%;
	    height: 40px;
	    font-size: 20px;
	    width: 100px;
	    text-align: center;
	}

	#rightSlot {
	    margin-left: 57%;
    	margin-top: 8%;
	}

	#roundHeading {
		font-size: 32px;
	}

	#selectionRow {
		margin-top: 15px;
	}

	#signInButton {
		font-size: 30px;
		height: 75px;
		width: 140px;
		padding-top: 11px;
		margin-left: 0px;
	}

	#toolBarRow {
		position: unset;
		margin-bottom: 15px;
	}

	.toolBarTab {
		display: none;
	}

	#top2017Icon {
		font-size: 20px;
	}

	.top3 {
		font-size: 25px;
	}

	.top3Name {
		font-size: 16px;
	}

	#topRow {
		height: auto;
	}

	.versusRow {
	   margin-top: -80px;
	   margin-left: -68px;
	}

	.versusSymbol {
		height: 225px;
	}

	#winner {
		height: 150px;
	}

@media only screen and (max-width: 320px) {
	.averageRow {
		margin-top: 2px;
	}

	#beginnerTextBox {
		font-size: 24px;
	}

	#bracketTextBox {
		font-size: 24px;
	}

	.byePoster {
		height: 180px;
	}

	.customListData {
		font-size: 22px;
		width: 110%;
	}

	#customSelection {
		z-index: 0;
		margin-top: 15px;
	}

	footer {
		padding-top: 15px;
	}

	.message {
		font-size: 18px;
	}

	#movie1 {
		margin-left: -8%;
		margin-top: 2px;
	}

	#leftSlot {
		margin-left: -4%;
		margin-top: 2px;
	}

	#movie2 {
		margin-left: 58%;
		margin-top: 13%;
	}

	#rightSlot {
		margin-left: 56%;
		margin-top: 4%;
	}

	#movieBattleLogoLogin {
		height: 100px;
		margin-top: 20%;
	}

	.moviePoster {
		height: 180px;
	}

	.multiDisplay {
		background: white;
		height: 250px;
	}

	.posterPoster {
		height: 180px;
	}

	#rankingDisplay {
	    font-size: 9px;
	    margin-top: 0px;
	    padding: 5px;
	}

	#roundHeading {
		font-size: 25px;
	}

	.toolBarTab {
		display: none;
	}

	.top3Name {
		font-size: 14px;
	}
}